html {
    font-family: 'Montserrat'; 
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    max-width: 40rem;
    height: 30rem;
    background-color: white;
    overflow: hidden;
}

#hero-image-desktop {
    width: 50%;
    height: 100%;
}

#hero-image-phone {
    width: 100%;
    height: 40%;
    display: none;
}

section {
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 2rem;
    margin-top: 3rem;
}

.fraunces {
    font-family: 'Fraunces';
}

#perfume {
    font-weight: 400;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    color: rgb(149, 142, 142);
    text-transform: uppercase;
}

h1 {
    font-size: 2.4rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 2.3rem;
}

#description {
    color: hsl(228, 12%, 48%);
    line-height: 1.7rem;
}

div {
    display: flex;
    align-items: center;
}

#actual-price {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    margin: 0.5rem;
}

#compared-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
    margin-left: 0.9rem;
}

button {
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: 0;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 1.1rem;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-img {
    margin-right: 1rem;
}

button:hover {
    background-color: hsl(158, 36%, 15%);
}

@media only screen and (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 44rem;
        max-width: 100%;
        margin: 0.6rem;
    }
    #hero-image-desktop {
        display: none;
    }
    #hero-image-phone {
        display: block;
    }
    section {
        height: 60%;
        width: 90%;
        margin-top: 0;
    }
    #perfume {
        margin-top: 0;
    }
}